<h1>Updating</h1>
<%= form_with(model: @users, action: 'update') do |form|  %> 
    <%# <% binding.pry  %>
  <div class="card">
    <div class="card-body">
        <div class="mb-3">
            <%= form.label :name ,{ class: "form-label"} %>
            <%= form.text_field :name, { class: "form-control", placeholder: "Site Code", autocomplete: "name" } %><br />
        </div>
        <div class="mb-3">
            <%= form.label :dob ,{ class: "form-label"} %>
            <%= form.date_field :dob, { class: "form-control", placeholder: "Site Code", autocomplete: "dob" } %><br />
        </div>
        <div class="mb-3">
            <%= form.label :address,{ class: "form-label"} %>
            <%= form.text_area :address, { class: "form-control", placeholder: "Site Code", autocomplete: "address" } %><br />
        </div>
        <div class="mb-3">
            <%= form.label :contact,{ class: "form-label"} %>
            <%= form.text_field :contact, { class: "form-control", placeholder: "Site Code", autocomplete: "contact" }%><br />
        </div>    
        <% if current_user.super_admin? or current_user.company_admin?%>
            <div class="mb-3">    
                <%# <%= f.select(:role, User.roles.keys) %> 
                <%= form.select :role, User.roles.keys.map {|key| [key.humanize, key]}%>
                <%# <%= f.select(:role, User.roles.keys) %> 
            </div>
        <% end %>
        <div class="mb-3">
            <%= form.select :department, User.departments.keys.map {|key| [key.humanize, key]}%>
            <br>
        </div>
            <%= form.button :submit %>
    </div>
  </div>
    <%= link_to "Back to user", users_path %>  
<%end%>