<h1>Edit Daily Work Report</h1>

<%= form_with(model: @daily_work_report, local: true) do |form| %>
  <% if @daily_work_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_work_report.errors.count, "error") %> prohibited this daily work report from being saved:</h2>

      <ul>
        <% @daily_work_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @daily_work_report.errors.any? %>
        <% @daily_work_report.errors.full_messages.each do |message| %>
            <p><%= message  %></p>
        <%end%>
  <%end %>




  <div class="field">
    <%= form.label :current_date %>
    <%# <%= form.date_field :current_date %>
    <%= form.date_field :current_date,:disabled=>true %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.collection_select :project_id, Project.all, :id, :name, prompt: "Select a project" %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.number_field :hours %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>


<%# <%= render 'form', report: @daily_work_report  %>

<%= link_to 'Show', @daily_work_report %> |
<%= link_to 'Back', daily_work_reports_path %>