<h1>Daily Work Reports</h1>
    <style>
      table,tr,th,td {
         border:1px solid black;
      }





    </style>
<%# <%= search_form_for @q do |f| %>
<%# <%= @daily_work_reports.each do |f| 
  <div>
     <%# <%= f.label :current_date 
     <%# <%= f.search_field :current_date_cont 
      <%= f.label :project_name_or_current_date 
      <%= f.search_field :project_name_or_current_date_cont %>
  <%# </div>
  <div>
    <%= f.submit 
  </div>
<% end %> 
<br>
<%= link_to 'Add New Daily Work Report', new_daily_work_report_path %>
<br>
<br>

<table style="width: 50%", class="table table-striped">
  <thead>
    <tr>
  
      <th style="text-align: center">User_id</th>
      <th style="text-align: center">Date</th>
      <th style="text-align: center">Project</th>
      <th style="text-align: center">Hours</th>
      <th style="text-align: center">status</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_work_reports.each do |report| %>
      <%# <% if current_user.id == report.user_id%> 
        <tr>
          <td style="text-align: center"><%= report.user_id %></td>
          <td style="text-align: center"><%= report.current_date %></td>
          <td style="text-align: center"><%= report.project.name %></td>
          <td style="text-align: center"><%= report.hours %></td>
          <td style="text-align: center"><%= report.status %></td>
          <td style="text-align: center"><%= link_to 'Show', report %> | <%= link_to 'Edit', edit_daily_work_report_path(report) %>
          | <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%# <% end  %>
    <% end %>
  </tbody>
</table>

<br>
