<h1>Attendance Records</h1>

<%= form_tag attendances_path, method: :get do %>
  <%= label_tag 'start_date', 'Start Date:' %>
  <%= text_field_tag 'start_date', params[:start_date] %>

  <%= label_tag 'end_date', 'End Date:' %>
  <%= text_field_tag 'end_date', params[:end_date] %>

  <%= submit_tag 'Filter', class: 'btn btn-primary' %>
<% end %>
<%a = Date.today - 5.day%>
<%b = Date.today%>
<%s = DailyWorkReport.where(user_id:current_user.id)%>
<%= s.where(:current_date => a..b).pluck(:current_date).sort%>
<% 
binding.pry
 %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Present</th>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.user.name %></td>
        <td><%= attendance.attendance_date.strftime('%d-%m-%Y') %></td>
        <td><%= attendance.present? ? 'Present' : 'Absent' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
